*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 20px 0;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
}
nav ul{
    list-style: none;
}
nav ul li {
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.logo{
    font-weight: bold;
    color: white;
}
.kereso{
    margin-right: 10px;
}
button{
    color: white;
    background-color: #555555;
}
.kereso button, input{
    padding: 5px 0;
}

/* - - - N A V - vége - - - */

/* - - - Ü D V Ö Z L Ő - - - */
.udvozlo {
    background-image: url('img/338ede5f9f949b9c4cc6c1c0c15c6a00\(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.udvozlo h1{
    font-size: 50px;
    padding: 10px;
}
.udvozlo p{
    font-size: large;
    text-indent: 50px;
    padding: 10px;
}
.udvozlo button{
    padding: 10px;
    color: white;
    background-color: #555555;
    cursor: pointer;
    border: none;
}
/* - - - Ü D V Ö Z L Ő - vége - - - */
/* - - - C S Í K - - - */
.csik{
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    text-align: center;
}
.csik img{
    width: 100px;
}
.csik h2, p{
    padding: 5px;
}
/* - - - C S Í K - vége - - - */
/* - - - F O O T E R - - - */
footer{
    display: grid;
    color: white;
    padding: 100px;
    background-color: #333333;
    grid-template-columns:repeat(3, 1fr);
}
footer .felkover{
    font-weight: bold;
    padding:  5px 0;
}
footer li{
    list-style: none;
    padding:  10px 0;
}

footer a{
    color: white;
}

footer .feliratkozas input{
    margin: 2px 0;
    width: 250px;
}
footer button{
    margin-top: 5px;
    padding: 5px;
    width: 255px;
    border: none;
    color: white;
    background-color: #555555;

}